.Log{
    background-image: url("https://images.unsplash.com/photo-1551818255-e6e10975bc17?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGF1ZGllbmNlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
      position: fixed;
      width: 100%;
      background-size: cover;
      background-position: center;
      opacity: 85%;
    }   
.frm {
    background-color: white;
    width: 440px;
    height: 400px;
    margin-top: 120px;
    justify-self: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 450px;
} 
.lbl{
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    color: blue;
    font-weight: bolder;
    font-size: 35px;
    margin-left: 230px;
}
.inp {
    justify-content: center;
    border-radius: 10px;
    width: 380px;
    height: 60px;
    margin: 10px;
    margin-left: 30px;
    margin-top: 12px;
}
.pass {
    margin-left: 30px;
    font-weight: bolder;
}

hr {
    margin-left: 5px;
}
button {
   width: 180px;
   margin-left: 110px; 
   justify-content: center;
   margin: 5px;
}
    